 <main class="main_">
  <div class="content_">
    <hr>
    <h4>ROOT PROJECTS</h4>
    <ul>
      <li><a href="https://apereznwo.github.io/PWA_DEMO_ENV_LANDING/" target="_blank">[LANDING]</a></li>
      <li><a href="https://apereznwo.github.io/PWA_DEMO_ENV_TEST/"    target="_blank">[TESTING]</a></li>
      <li><a href="https://apereznwo.github.io/PWA_DEMO_ENV_DEV/"     target="_blank">[DEV]</a></li>
      <li><a href="https://apereznwo.github.io/PWA_DEMO_ENV_PROD/"    target="_blank">[PROD]</a></li>
      <li><a href="https://apereznwo.github.io/PWA_DEMO_ENV_PUBLIC/"  target="_blank">[PUBLIC]</a></li>
    </ul>
    <hr>
    <h4>UIX PROJECTS</h4>
    <hr>
    <H5>IONIC</H5>
    <UL>
      <LI>
       <a href="https://apereznwo.github.io/IONIC_DEMO_ENV_TEST/" target="_blank">[TEST]</a>
      </LI>
    </UL>
    <hr>
    <H5>PRIMENG</H5>
    <UL>
      <LI>
       <a href="https://apereznwo.github.io/primeng-quickstart-cli/" target="_blank">[DEMO]</a>
      </LI>
      <LI>
        <a href="https://apereznwo.github.io/PRIMENG_DEMO_ENV_PROD/" target="_blank">[PROD]</a>
       </LI>
    </UL>
    <hr>
    <H5>NG BOOTRSRAP / TAILWIND</H5>
    <UL>
       <LI>
          <a href="https://apereznwo.github.io/NG_BOOTSTRAP_DEMO_ENV_TEST/" target="_blank">[TEST]</a>
       </LI>
        <LI>
          <a href="https://apereznwo.github.io/NG_BOOTSTRAP_DEMO_ENV_DEV/#/Home" target="_blank">[DEV]</a>
        </LI>
    </UL>
    <hr>
  </div>
</main>
<router-outlet />
